:root {
    --grid-spacing-px: 8px;
    --border-px: 1px;
    background-color: #015656;
    color: #DDECEC;
}

.layout {
    width: 100%;
    
    --extra-height-px: calc((var(--grid-spacing-px) + var(--border-px)) * 2);
    height: calc(100vh - var(--extra-height-px)); 
    height: calc(100dvh - var(--extra-height-px)); 

    display: grid;
    grid:
        "header header header" auto
        "navigation body body" 1fr
        "footer footer footer" auto
        / auto 1fr auto;

    gap: var(--grid-spacing-px);

    border:var(--border-px) solid black;
}
  
.header { 
    grid-area: header;
    width: 100%;
    height: 40px;
    border:var(--border-px) solid black;
}
.navigation {
    grid-area: navigation; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border:var(--border-px) solid black;
    gap: 4px;
    overflow-y:auto;
    background-color: #013A3A;
}
.navigation-element {
    width: 200px;
    height: 50px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
    border:var(--border-px) solid black;
    flex-shrink: 0;
}

.nav-img {
    width: 48px;
    height: 48px;
    padding-right: 20px;
}

.adventuring-zones {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    border:var(--border-px) solid black;
    gap: 4px;
    overflow-y:auto;
    width: 100%; 
}
.adventuring-zone-element {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
    background-color: #013A3A
}


.adventuring-zone-element-Woods {
    background-image: url("../images/woods_cave_story.png");
    background-size: 100% 100%;
}

.adventuring-zone-element-Caves {
    background-image: url("../images/caves_cave_story.png");
    background-size: 100% 100%;
}

.adventuring-zone-element-Wilds {
    background-image: url("../images/wilds_cave_story.png");
    background-size: 100% 100%;
}

.adventuring-activities {
    display: flex;
    flex-direction: row;
}

.adventuring-activities-name {
    background-color: #013A3A
}

.adventure-activity-element {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
    font-size: 0.5vw;
    gap: 4px;
    background-color: #013A3A
}

.back-button {
    border:var(--border-px) solid black;
    gap: 4px;
    width: 100px;
    height: 20px;
}
.body {
    grid-area: body; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    border:var(--border-px) solid black;
}
.footer {
    grid-area: footer; 
    width: calc(100%-4px);
    height: 40px;
    border:var(--border-px) solid black;
    background-color: #026E7A;
}
.inventory-items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    border:var(--border-px) solid black;
    gap: 4px;
    overflow-y:auto;
    width: 100%;
}
.item-element {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
}

.fight-content {
    display: flex;
    flex-direction: row;
    border:var(--border-px) solid black;
    gap: 4px;
    width: 100%;
}

.fighter-element {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
}