body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    background-color: #015656;
    color: #DDECEC;
}

.hidden {
    display: none !important;
}

.layout {
    width: 100%;
    
    --extra-height-px: calc((var(--grid-spacing-px) + var(--border-px)) * 2);
    height: calc(100vh - var(--extra-height-px)); 
    height: calc(100dvh - var(--extra-height-px)); 

    display: grid;
    grid:
        "header header header" auto
        "navigation body body" 1fr
        "footer footer footer" auto
        / auto 1fr auto;

    gap: var(--grid-spacing-px);

    border:var(--border-px) solid black;
}

.story {
    color: #fff;
    align-items: center;
    justify-content: left;
    font-size:large;
    width: auto;
}

@media screen and (min-width: 50rem) {
    .login-story {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        justify-content: left;
        font-size:large;
        width: 34rem;
        height: 17rem;
        z-index: 2;
        position: fixed;
        top: calc(50vh - 8.5rem);
        left: calc(50vw - 17rem);
        background-color: rgba(0,0,0,0.4);
    }

    .intro-story {
        color: #fff;
        align-items: center;
        justify-content: left;
        font-size:large;
        width: 400px;
        height: 300px;
        z-index: 2;
        position: absolute;
        top: 30%;
        left: calc( 50% - 16.6rem );
        background-color: rgba(0,0,0,0.4);
    }
}

@media screen and (max-width: 50rem) {
    .login-story {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        justify-content: left;
        font-size:large;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(0,0,0,0.4);
    }
    .intro-story {
        color: #fff;
        align-items: center;
        justify-content: left;
        font-size:large;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(0,0,0,0.4);
    }
}

#login-button {  
    background-repeat: no-repeat;
    margin: 1rem;
    background-color: gray;
    padding: 0.5rem;
}

#login-button:hover{
    background-color: rgb(154, 154, 154);
}
#wake-progress {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
}

#task-button {  
    width: 150px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 125px;
    background-color: gray;
    padding: 4px;
}

#task-button-a {  
    width: 100px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 25px;
    background-color: gray;
    padding: 4px;
}

#task-button-b {  
    width: 100px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 25px;
    background-color: gray;
    padding: 4px;
}

#task-button:hover, #task-button-a:hover, #task-button-b:hover{
    background-color: rgb(154, 154, 154);
}

#task-progress {
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}

#task-progress-a, #task-progress-b {
    width: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}    

  
.header { 
    grid-area: header;
    width: 100%;
    height: 40px;
    border:var(--border-px) solid black;
}
.navigation {
    grid-area: navigation; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border:var(--border-px) solid black;
    overflow-y:auto;
}
.navigation-element {
    width: 200px;
    height: 50px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: left;
    border:var(--border-px) solid black;
    flex-shrink: 0;
    background-color: #013A3A;
}

.navigation-element:hover {
    background-color: #00b5b5;
    transition: 0.5s;
}

.nav-img {
    width: 48px;
    height: 48px;
    padding-right: 20px;
}

.adventuring-zones {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    border:var(--border-px) solid black;
    gap: 4px;
    overflow-y:auto;
    width: 100%;
    
}
.adventuring-zone-element {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
    background-color: #013A3A;
    background-size: 100% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.adventuring-zone-container {
    width: calc(100vw - 216px);
    height: calc(100vh - 100px);
    overflow: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.adventuring-zone-content {
    background-color: #013A3A99;
    display: inline-block;
    padding: 20px;
}

.login {
    filter: blur(2px) grayscale(80%);
}

.login-intro{
    filter: none;
}

#login-container {
    background-image: url("../images/login_background_misty_dock.png");
    transition: filter 4s;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.adventuring-activities {
    display: flex;
    flex-direction: row;
}

.adventuring-activities-name {
    background-color: #013A3A
}

.adventure-activity-element {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
    font-size: 0.5vw;
    gap: 4px;
    background-color: #013A3A;
}

.adventure-activity-element:hover {
    background-color: #009a9a;
}

.back-button {
    border:var(--border-px) solid black;
    gap: 4px;
    padding: 8px;
    margin-top: 20px;
    background-color: #013A3A;
}
.back-button:hover {
    background-color: #009a9a;
}

.body {
    grid-area: body; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    border:var(--border-px) solid black;
}
.footer {
    grid-area: footer; 
    width: calc(100%-4px);
    height: 40px;
    border:var(--border-px) solid black;
    background-color: #026E7A;
}
.inventory-items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    border:var(--border-px) solid black;
    gap: 4px;
    overflow-y:auto;
    width: 100%;
}
.item-element {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
}

.fight-content {
    display: flex;
    flex-direction: row;
    border:var(--border-px) solid black;
    gap: 4px;
    width: 100%;
}

.fighter-element {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:var(--border-px) solid black;
}

.monster {
    width: 50px;
    height: 50px;
}